@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600");

/* Basic Styles */
body {
  background: #ffffff;
  color: #444444;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.65;
  -ms-overflow-style: scrollbar;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s,
samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul,
li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section {
  display: block;
}

body {
  line-height: 1;
  background-color: #ffffff;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Typography */
html {
  font-size: 13pt;
}

@media screen and (max-width: 1680px) {
  html {
    font-size: 11pt;
  }
}

@media screen and (max-width: 980px) {
  html {
    font-size: 12pt;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 11pt;
  }
}

p {
  margin: 0 0 2rem 0;
}

header.special {
  text-align: center;
  margin-bottom: 4rem;
}

header.special p {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 0 0 1.5rem 0;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
}

h2 {
  font-size: 2.25rem;
  line-height: 1.3;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 0.7rem;
}

strong, b {
  font-weight: 600;
}

em, i {
  font-style: italic;
}

mark {
  background-color: transparent;
  color: inherit;
}

input, select, textarea {
  color: #555555;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.65;
}

a {
  color: #ce1b28;
  text-decoration: underline;
  transition: color 0.2s ease-in-out;
}

a:hover {
  text-decoration: none;
}

/* Button Styles */
input[type="submit"], input[type="reset"], input[type="button"], button, .button {
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  height: 3.25rem;
  line-height: 3.25rem;
  padding: 0 1.75rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #555555;
  color: #555555;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, button:hover, .button:hover {
  box-shadow: inset 0 0 0 1px #ce1b28;
  color: #ce1b28;
}

input[type="submit"].primary, input[type="reset"].primary, input[type="button"].primary, button.primary, .button.primary {
  box-shadow: none;
  background-color: #ce1b28;
  color: #ffffff;
}

input[type="submit"].primary:hover, input[type="reset"].primary:hover, input[type="button"].primary:hover, button.primary:hover, .button.primary:hover {
  background-color: #e2212f;
  box-shadow: none;
}

/* Form Styles */
form {
  margin: 0 0 2rem 0;
}

label {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  margin: 0 0 1rem 0;
}

input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], input[type="url"], select, textarea {
  border-radius: 4px;
  border: none;
  border: solid 1px;
  display: block;
  outline: 0;
  padding: 0 1rem;
  text-decoration: none;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.075);
  border-color: rgba(0, 0, 0, 0.25);
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="search"]:focus, input[type="url"]:focus, select:focus, textarea:focus {
  border-color: #ce1b28;
  box-shadow: 0 0 0 1px #ce1b28;
}

/* Image Styles */
.image {
  border-radius: 4px;
  border: 0;
  display: inline-block;
  position: relative;
}

.image img {
  border-radius: 4px;
  display: block;
}

.image.fit img {
  width: 100%;
  height: auto;
}

.image.main {
  margin: 0 0 3rem 0;
}

/* Wrapper */
.wrapper {
  padding: 8rem 0 6rem 0;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1280px) {
  .wrapper {
    padding: 4rem 0 2rem 0;
  }
}

@media screen and (max-width: 736px) {
  .wrapper {
    padding: 3rem 0 1rem 0;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    padding: 2rem 0 0.1rem 0;
  }
}

/* Header */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111111;
  color: rgba(255, 255, 255, 0.5);
  height: 3.25rem;
  line-height: 3.25rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10001;
}

#header > .logo {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  height: inherit;
  line-height: inherit;
  padding: 0 1.25rem;
  text-decoration: none;
}

#header > nav > a {
  color: inherit;
  display: inline-block;
  padding: 0 0.75rem;
  text-decoration: none;
}

#header > nav > a:hover {
  color: #ffffff;
}

/* Footer */
#footer {
  background-color: #111111;
  color: rgba(255, 255, 255, 0.5);
  padding: 8rem 0 6rem 0;
}

#footer .content {
  display: flex;
}

#footer .content section {
  width: 25%;
}

#footer .content section:first-child {
  width: 50%;
  padding-right: 4rem;
}

#footer .content section:last-child {
  padding-left: 4rem;
}

#footer .copyright {
  border-top: 1px solid;
  font-size: 0.8rem;
  padding: 2rem 0;
  text-align: center;
  background-color: #111111;
  color: rgba(
